@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

* {
    margin: 0;
}

body {
    font-family: 'Dancing Script', cursive;
    background: #02010a;
    color: white;
    font-size: 14pt;
}

#contenido {
    width: 900px;
    margin: 0 auto;
    min-height: 100px;
}

#cabecera {
    width: 70%;
    text-indent: 15px;
    text-shadow: 2px 2px #02010a;
}

header {
    background: #5b7989;
    border-radius: 10px 10px 0 0;
    padding: 15px 0;
    display: flex;
    flex-flow: row wrap;
}

#menu a, #menu a:hover { 
    color: #fff;
    padding: 5px 10px;
}

#menu a +a::before {
    color: #fff;
    text-decoration: none;
}

#menu .actual {
    text-decoration: none;
}

#galeria {
    background: #82c3a6;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 10px 15px 28px;
}

#galeria img {
    width: 30%;
    margin: 10px;
    border: 2px solid black;
    filter: drop-shadow(3px 3px 6px #82c3a6);
    
}

footer {
    display: flex;
    flex-flow: row wrap;
    background-color: #c6d5c5;
    padding: 10px 0;
    color: black;
    border-radius: 0 0 10px 10px;
}

footer .columna {
    width: 25%;
    box-sizing: border-box;
    padding: 15px 25px; 
    text-align: center;
}

.icon-social {
    width: 15px;
}

@media screen and (max-width:1000px) {
    #contenido {
        width: 100%;
        text-align: center;
    }
    
    #cabecera, #menu {
        width: 100%;
        text-align: center;
    }
    
    .imgfila1, .imgfila2 {
        width: 100%
        box-sizing: border-box; 
        padding-right: 30px;
    }
    
    #galeria img {
        width: 100%;
    }
    
    footer .columna {
        width: 100%;
    }
}



